.container {
    display: flex;
}

.column {
    padding: 20px;
    margin: 10px;
    background-color: lightblue;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

.col-4 {
    flex: 4;
}